/*---------HEADER---------*/

.logo{

margin: 15px;


}


.negro{
transition: 2s all ease;
background-color: initial;
color: white;
}

header{

background-image: url("../img/sm/fondo.png") ; 


}

/*-------------------------*/

/*----------NAV-------------*/













/*---------------------------*/