<div class="container">
	
<div id="final" class="row text-center">
<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">CONTACTO</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <h1 id="modal">Telefono: 642529668</h1>
      <h3 id="modal">Correo electronico: javiermiras88@hotmail.com</h3>
      </div>
  </div>
</div>
	
	
<p id="ultimo">© Javier Miras</p>

</div>

</div>

