<!-- .......................HEADER................................-->



<div class="container" id="subir">
  


  <div class="row sticky">
    
<span class="glyphicon glyphicon-circle-arrow-up" id="flecha" data-arriba="#subir"></span>


<div class="col-xs-9 col-sm-3  displaylogo" >
  
  
<h2 class="logo negro">J M</h2>

</div>

<div class="col-xs-3 col-sm-9 hidden-md display">
  
<!-- icono menu xs -->

 <span class="glyphicon glyphicon-menu-hamburger menu  hidden-md hidden-lg boton negro" id="menu"></span>

</div>


<nav class="navbar navprincipal hidden-xs hidden-sm barraprincipal  col-xs-5 col-sm-3 col-md-7 ">
  <a class="pagina"    data-objetivo='#inicio'      href="">Inicio</a>
  <a class="formacion" data-objetivo='#formacion'   href="">Formacion</a>
  <a class="servicios" data-objetivo='#trabajos'   href="">Servicios</a>
  <a class="contacto"  data-objetivo='#contacto'    href="">Contacto</a>

</nav>
	
</div>





</div>
