<!-- INICIO -->



<section class="cuerpo" id="inicio">

<div class="container">
	
<div class="row text-center">


		

<img class="img-responsive center-block" src="img/foto.png">
					
		
		
<div>
	<h2 class="text-center titulo">QUIEN SOY</h2>
	
	<p class="text-center">Mi nombre es Javier Miras tengo 28 años aficionado a las nuevas tecnologias y sobre todo al diseño web , estudie el ciclo formativo de ASIR en el IES Cura Valera (huercal overa).</p>
	</div>

				



</div>
	</div>
</div>

</section>

	
		
<div class="imagen"></div>




<!-- FORMACION -->

<section class="cuerpo" id="formacion" >

<div class="container-fluid">
	
	<div class="row text-center">
		
	<img src="img/universidad.png">
<h2>TECNICO SUPERIOR DE ADMINISTRACIÓN DE SISTEMAS INFORMATICOS EN RED.</h2>
<span><p>I.E.S CURA VALERA</p><span>

<h2>DIPLOMATURA EN RELACIONES LABORALES.</h2>
<span><p>UNIVERSIDAD DE ALMERÍA</p></span>




	</div>




</div>
</section>
<div class="container">
<div class="row">
	


<div class="trabajos">	
<img src="img/html.png" class="img-responsive center-block" >

</div>	
</div>
</div>


<!-- TRABAJOS -->

<div class="container" >
<div class="row">
			
<section class="cuerpo text-center" id="trabajos">
			<img src="img/harware.png">
		<h2>PROGRAMADOR WEB</h2>
		<h2>GESTION DE PERSONAL</h2>
		<h2>INSTALACION DE SOFTWARE Y REPARACIÓN DE HARDWARE</h2>
		<h2>GESTION DE BASES DE DATOS</h2>
		<h2>INSTALACIÓN DE REDES</h2>


					</div>	
				</div>
</section>



<div class="contacto"><iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.5047260257247!2d-2.1366384846937376!3d37.37789437983363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd653610a2e6077f%3A0xd547f2c680d23ef5!2sCamino+Casicas%2C+04800+Albox%2C+Almer%C3%ADa!5e0!3m2!1ses!2ses!4v1488300132801"></iframe></div>


<!-- CONTACTO -->
<div class="container" id="contacto">
<div class="row text-center">
	





</div>	
</div>
